.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: #f9faf8;
    background-color: #1f2937;
    font-weight: bold;
    margin: 0;
}

.headerLogo{
    margin-left: 20%;
}

.menu {
    display: flex;
    margin-right: 20%;
}

.menuItems{
    display: flex;
    flex-shrink: 0;
    margin: 10px;
    font-size: 16px;
    font-weight: 100;
}

.hero {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: #f9faf8;
}

.heroCTA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    margin: 100px 20px 100px 20%;
}

.heroTitle {
    font-size: 48px;
    font-weight: extra-bold;
    margin: 0;
}

.heroText {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

.heroButton {
    margin-top: 15px;
    background-color: #3882F6;
    color: #e5e7eb;
    font-weight: bold;
    font-size: 24px;
    padding: 10px 30px 10px 30px;
    border-radius: 6px;
    border: 0;
}

.heroImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 100px 20% 100px 0px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.infoTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 30px 0px;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
    margin: 0;
}

.infoTable {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.infoTd {
    padding: 15px;
    width: 180px;
}

.infoTr {
    text-align: justify;
    text-align: center;
}

.infoSquare {
    height: 180px;
    width: 180px;
    border: solid 5px #3882F6;
    border-radius: 20pX;
}

.quote {
    background-color: #e5e7eb;
    padding: 100px 30% 100px 30%;
}

.quoteText {
    text-align: left;
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937;
}

.quoteSign {
    text-align: end;
    font-size: 24px;
    font-weight: bold;
}

.cTA {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9faf8
}