.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: #f9faf8;
    background-color: #1f2937;
    font-weight: bold;
    margin: 0;
}

.headerLogo{
    margin-left: 400px;
}

.menu {
    display: flex;
    margin-right: 400px;
}

.menuItems{
    display: flex;
    flex-shrink: 0;
    margin: 10px;
    font-size: 16px;
    font-weight: 100;
}

.hero {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: #f9faf8;
}

.heroCTA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    margin-left: 400px;
    margin-bottom: 50px;
}

.heroTitle {
    font-size: 48px;
    font-weight: extra-bold;
    margin: 0;
}

.heroText {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

.heroButton {
    margin-top: 15px;
    background-color: #3882F6;
    color: #e5e7eb;
    font-weight: bold;
    font-size: 24px;
    padding: 10px 30px 10px 30px;
    border-radius: 6px;
    border: 0;
}

.heroImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-right: 400px;
    margin-bottom: 50px;
}